{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "angular": false
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "no-bitwise": 2,
    "camelcase": "warn",
    "curly": 2,
    "eqeqeq": 2,
    "wrap-iife": [
      2,
      "any"
    ],
    "indent": [
      "warn",
      "tab",
      {
        "SwitchCase": 1
      }
    ],
    "no-use-before-define": [
      2,
      {
        "functions": false
      }
    ],
    "new-cap": "warn",
    "no-caller": 2,
    "quotes": [
      2,
      "single"
    ],
    "no-undef": 2,
    "no-unused-vars": "warn",
    "strict": [
      "warn",
      "function"
    ]
  }
}
